<!DOCTYPE html>
<html lang=”pt-br”>
	<head>
		<meta charset="UTF-8"/>
		<title>Sistema HF - Soluções</title>
		<meta name="vieport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="../_css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../_css/home.css"/>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<script type="text/javascript">
			function relogio(){
				var data = new Date();
				var hora = data.getHours();
				var minuto = data.getMinutes();
				var segundo = data.getSeconds();

				if(hora<10){
					hora = "0"+hora;
				}

				if(minuto<10){
					minuto = "0"+minuto;
				}

				if(segundo<10){
					segundo = "0"+segundo;
				}

				document.getElementById('relogio-digital').innerHTML=hora+":"+minuto+":"+segundo;
			}
			window.setInterval("relogio()",1000);
		</script>
	</head>
	<body onload="relogio();">
		<header>
			<nav>
				<input type="checkbox" id="check">
				<label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
				<div id="relogio-digital"></div>
				<img class="logo" src="../_imagens/logo.png">
				<img class="logout" src="../_imagens/logout.png">
				<input type="search" name="busca" id="busca" class="busca" placeholder="Buscar">

				<ul class="navegacao">
					<li><a href="/home">Home</a></li>
					<li><a href="/cliente">Clientes</a></li>
					<li><a href="/produto">Produtos</a></li>
					<li><a href="/home">Impressoras</a></li>
					<li><a href="/home" class="active">Agenda</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<div class="teste">
				<h1>Tela de Agendamento</h1>
			</div>
		</main>
		<footer>
			<p class="p-rodape" id="p-rodape">Contatos - 3473-2631 | 3294-2430 | 95175-7066 <img class="img-rodape"src="../_imagens/skype.png"> HF Soluções</p>
			<p class="p-rodape">Email - contato@hf-solucoes.com | Cnpj - 21.898.738/0001-98</p>
		</footer>
	</body>
</html>