<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Sistema HF</title>
<link rel="stylesheet" type="text/css" href="../_css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../_css/cliente.css" />
<link rel="stylesheet" type="text/css" href="../_css/geral.css" />
<link rel="stylesheet" type="text/css" href="../_css/navbar.css" />
<link rel="stylesheet" type="text/css" href="../_css/tooltip.css" />
<link rel="stylesheet" type="text/css" href="../_css/alert.css" />
<link rel="stylesheet" type="text/css" href="../_css/botoes.css" />

<script type="text/javascript" src="../_js/jquery-3.5.0.min.js"></script>
<script type="text/javascript" src="../_js/popper.min.js"></script>
<script type="text/javascript" src="../_js/bootstrap.min.js"></script>
<script type="text/javascript" src="../_js/sistema-hf.js"></script>
<script type="text/javascript" src="../_js/sistema-hf.js"></script>
<script type="text/javascript"
	src="https://kit.fontawesome.com/a076d05399.js"></script>
<script type="text/javascript">
	function relogio() {
		var data = new Date();
		var hora = data.getHours();
		var minuto = data.getMinutes();
		var segundo = data.getSeconds();

		if (hora < 10) {
			hora = "0" + hora;
		}

		if (minuto < 10) {
			minuto = "0" + minuto;
		}

		if (segundo < 10) {
			segundo = "0" + segundo;
		}

		document.getElementById('relogio-digital').innerHTML = hora + ":"
				+ minuto + ":" + segundo;
	}
	window.setInterval("relogio()", 1000);
</script>

</head>
<body onload="relogio();">
	<header>
		<nav>
			<input type="checkbox" id="check"> <label for="check"
				class="checkbtn"><i class="fas fa-bars"></i></label>
			<div id="relogio-digital"></div>
			<img class="logo" src="../_imagens/logo.png"> <img
				class="logout" src="../_imagens/logout.png">

			<ul class="navegacao">
				<li><a href="/home">Home</a></li>
				<li><a href="/cliente">Clientes</a></li>
				<li><a href="/home">Produtos</a></li>
				<li><a href="/home">Impressoras</a></li>
				<li><a href="/home">Agenda</a></li>
			</ul>
		</nav>
	</header>
	<div class="inicio"></div>

	<div class="alert alert-primary alert-dismissible fade show"
		role="alert" th:if="${!#strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}"></span>
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="container">

		<div class="div_form_clientes">
			<div class="elemento" title="Adicionar Cliente" rel="tooltip"
				data-delay='{"show":"1000", "hide":"1500"}' data-placement="top">
				<a href="/cliente/cadastro"><img src="../_imagens/adicionar.png"></a>
			</div>

			<div>
				<div class="form_clientes_buscar">
					<img src="../_imagens/lateral_pesqisa.png">
				</div>
				<fieldset class="fieldset_conf">

					<form method="GET" class="form-horizontal">
						<div>
							<div class="col-sm-5">
								<div class="input-group">
									<input class="input_control"
										placeholder="Digite nome do cliente" autofocus="autofocus"
										name="nome"></input> <span class="input-group-btn">
										<button class="btn btn-primary btn-sm btn-margin"
											type="submit">Pesquisar</button>
									</span>
								</div>
							</div>
						</div>
					</form>

					<table class="table table-bordered table-hover">
						<thead>
							<tr class="table-secondary">
								<th class="text-center" style="width: 54%">CLIENTE</th>
								<th class="text-center" style="width: 8%">CONTATO</th>
								<th class="text-center" style="width: 12%">TELEFONE</th>
								<th class="text-center" style="width: 15%">EMAIL</th>
								<th class="text-center" style="width: 11%">LINK'S</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cliente:${clientes}">
								<td class="maiusculo" th:text="${cliente.nome}"></td>
								<td class="maiusculo" th:text="${cliente.nomeContato}"></td>
								<td class="maiusculo" th:text="${cliente.telefone}"></td>
								<td class="maiusculo" th:text="${cliente.emailContato}"></td>
								<td><a th:href="@{/cliente/{id}(id=${cliente.id})}"
									title="Editar" rel="tooltip"
									data-delay='{"show":"1000", "hide":"900"}' data-placement="top">
										<img class="img_borda" src="/_imagens/editar.png"
										onmouseover="this.src='/_imagens/editarHover.png'"
										onmouseout="this.src='/_imagens/editar.png'" />
								</a> <a data-toggle="modal" data-target="#confirmacaoExclusaoModal"
									th:attr="data-id=${cliente.id},data-nome=${cliente.nome}"
									title="Excluir" rel="tooltip"
									data-delay='{"show":"1000", "hide":"900"}' data-placement="top">
										<img class="img_borda" src="/_imagens/excluir.png"
										onmouseover="this.src='/_imagens/excluirHover.png'"
										onmouseout="this.src='/_imagens/excluir.png'" />
								</a> <a th:href="@{/cliente/{id}(id=${cliente.id})}"
									title="Carregar" rel="tooltip"
									data-delay='{"show":"1000", "hide":"900"}' data-placement="top">
										<img class="img_borda" src="/_imagens/caregar.png"
										onmouseover="this.src='/_imagens/caregarHover.png'"
										onmouseout="this.src='/_imagens/caregar.png'" />
								</a></td>
							</tr>

							<tr>
								<td colspan="5" th:if="${#lists.isEmpty(clientes)}">Nenhum
									cliente foi encontrado</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</div>
		</div>
	</div>

	<div class="modal fade" id="confirmacaoExclusaoModal" tabindex="-1"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<form method="POST" th:attr="data-url-base='cliente/'">

				<div class="modal-content">
					<div class="conf">
						<h7 class="moda-t">CONFIRMAÇÃO DE EXCLUSÃO</h7>
					</div>
					<div class="modal-body">
						<span>TEM CERTEZA QUE DESEJA APAGAR O CLIENTE?</span>
					</div>
					<div class="m-footer">
						<button type="button" class="btn btn-primary btn-sm"
							data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary btn-sm">Excluir</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
















