<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>Sistema HF - Soluções</title>
		<link rel="shortcut icon" href="../_imagens/logo-aba.png">
		<meta name="vieport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="../_css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../_css/home.css"/>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<script type="text/javascript">
			function relogio(){
				var data = new Date();
				var hora = data.getHours();
				var minuto = data.getMinutes();
				var segundo = data.getSeconds();

				if(hora<10){
					hora = "0"+hora;
				}

				if(minuto<10){
					minuto = "0"+minuto;
				}

				if(segundo<10){
					segundo = "0"+segundo;
				}

				document.getElementById('relogio-digital').innerHTML=hora+":"+minuto+":"+segundo;
			}
			window.setInterval("relogio()",1000);
		</script>
	</head>
	<body onload="relogio();">
		<header>
			<nav>
				<input type="checkbox" id="check">
				<label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
				<div id="relogio-digital"></div>
				<img class="logo" src="../_imagens/logo.png">
				<img class="logout" src="../_imagens/logout.png">
				<input type="search" name="busca" id="busca" class="busca" placeholder="Buscar">

				<ul class="navegacao">
					<li><a href="/home">Home</a></li>
					<li><a href="/cliente">Clientes</a></li>
					<li><a href="/produto" class="active">Produtos</a></li>
					<li><a href="cad_impressoras.html">Impressoras</a></li>
					<li><a href="agenda.html">Agenda</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<div class="svg_background">
				<div class="container_svg_background">

					<section class="faixa_vertical">
						<svg  width="64.094" height="429.688" viewBox="0 0 64.094 429.688">
						  <defs>
						    <linearGradient id="bg1" x1="0%" y1="0%" x2="0%" y2="100%">
									<stop offset="0%" style="stop-color:rgba(0,0,0,0.5)"/>
									<stop offset="70%" style="stop-color:rgba(255,255,255,0)"/>
								</linearGradient>
						    <style>
						      .cls-8 {
						        fill: url(#bg1);
						        fill-rule: evenodd;
						      }
						    </style>
						  </defs>
						  <path id="faixa_vertical" class="cls-8" d="M108,170.667h3.083V600.333H108V170.667Zm61,0h3.083V600.333H169V170.667Zm-55,0h52.157V600.333H114V170.667Z" transform="translate(-108 -170.656)"/>
						</svg>
					</section>

					<section class="faixa_horizontal">
						<svg width="780" height="3.281" viewBox="0 0 780 3.281">
						  <defs>
						    <linearGradient id="bg2" x1="0%" y1="0%" x2="100%" y2="0%">
									<stop offset="70%" style="stop-color:#363637"/>
									<stop offset="100%" style="stop-color:rgba(255,255,255,0)"/>
								</linearGradient>
						    <style>
						      .cls-9 {
						        fill: url(#bg2);
						        fill-rule: evenodd;
						      }
						    </style>
						  </defs>
						  <path id="faixa_horizontal" class="cls-9" d="M43.667,223.179H35.51v3.3H495.172v-3.3H43.667Z" transform="translate(-35.5 -223.188)"/>
						</svg>
					</section>

					<section class="bandeira_triangulo">
						<svg width="9" height="9.469" viewBox="0 0 9 9.469">
						  <defs>
						    <style>
						      .cls-10 {
						        fill: #2b5e85;
						        fill-rule: evenodd;
						      }
						    </style>
						  </defs>
						  <path id="bandeira_triangulo" class="cls-10" d="M85.6,223.179h4.051v-9.452l-9,9.452H85.6Z" transform="translate(-80.656 -213.719)"/>
						</svg>
					</section>

					<section class="bandeira">
						<svg width="98.125" height="146.75" viewBox="0 0 98.125 146.75">
						  <defs>
						    <linearGradient id="bg3" x1="0%" y1="0%" x2="0%" y2="100%">
									<stop offset="0%" style="stop-color:#0082e6"/>
									<stop offset="70%" style="stop-color:#2b5e85"/>
								</linearGradient>
						    <style>
						      .cls-11 {
						        fill: url(#bg3);
						        fill-rule: evenodd;
						      }
						    </style>
						  </defs>
						  <path id="bandeira" class="cls-11" d="M89.654,222.728v-9h98.117V326.7l-44.108,31.955a11.286,11.286,0,0,1-4.5,1.8,10.978,10.978,0,0,1-4.951-.9L89.654,327.146V222.728Z" transform="translate(-89.656 -213.719)"/>
						</svg>
					</section>

					<section class="bandeira_imagem">
						<img src="../_imagens/SVG/produtos.svg">
					</section>

				</div>
			</div>

			<div class="container_form_produtos">
				<div class="div_form_produtos">
					<form class="form_produtos">
						<div class="form_produtos_buscar">
			    			<input type="search" name="busca" id="busca" class="input_busca" placeholder="Buscar">
			    			<img class="svg_busca" src="../_imagens/SVG/b.svg">
			    			<table class="table_busca">
								<tr><td class="table_busca_titulo">Produto</td></tr>
								<tr><td class="table_busca_celulas">.<td></tr>
								<tr><td class="table_busca_celulas">.<td></tr>
								<tr><td class="table_busca_celulas">.<td></tr>
								<tr><td class="table_busca_celulas">.<td></tr>
							</table>
						</div>
						<img class="svg_empresa" src="../_imagens/SVG/cadastro.svg">

						<fieldset class="fieldset_produto"><legend class="legenda_form_produto">Produto</legend>

							<div class="foto_produto">

							</div>
							<button type="button" class="botao_foto fundo_azul">Selecionar Arquivo</button>

					        <div class="grupo_input_label">      
					          <input class="input_form_produto" id="descricao" type="text" required>
					          <label class="label_descricao">Descrição do Produto</label>
					        </div>

				        </fieldset>

				        <fieldset class="fieldset_fornecedor"><legend class="legenda_form_produto">Fornecedor</legend>

					        <div class="grupo_input_label">      
					          	<select name="tfornecedor" id="fornecedor">
								    <option selected>Casa Forte</option>
								    <option>Nova Supri</option>
								    <option>TF</option>
								</select>
					          	<label id="label_fornecedor">Empresa</label>
					        </div>

					        <div class="grupo_input_label">      
					          	<select name="tmarca" id="fornecedor">
								    <option selected>Premiun</option>
								    <option>Folha</option>
								    <option>MC</option>
								</select>
					          	<label id="label_fornecedor">Marca</label>
					        </div>

					        <div class="grupo_input_label">      
					          	<input type="date" name="tCompra" id="data_compra"/>
					          	<label id="label_fornecedor">Data Compra</label>
					        </div>

				        </fieldset>

				        <fieldset class="fieldset_valores"><legend class="legenda_form_produto">Valores</legend>

					        <div class="grupo_input_label">      
					          	<input class="input_form_produto" id="compra" type="text" required>
					          	<label class="label_compra">Compra</label>
					          	<label class="label_sifrao">R$</label>
					        </div>

					        <div class="grupo_input_label">      
					          	<input class="input_form_produto" id="markup" type="text" required>
					          	<label class="label_markup">Markup</label>
					          	<label class="label_porcentagem">%</label>
					        </div>

					        <div class="grupo_input_label">      
					          	<input class="input_form_produto" id="venda" type="text" required readonly>
					          	<label class="label_venda">Venda</label>
					          	<label class="label_venda_sifrao">R$</label>
					        </div>

				        </fieldset>


				        <input type="search" name="add" id="add" class="input_adicionar" placeholder="Adicionar">
			    		<img class="svg_adicionar" src="../_imagens/SVG/adicionar.svg">
				        <fieldset class="fieldset_impressoras"><legend class="legenda_form_produto">Impressoras</legend>
			    			<table class="table_impressora">
								<tr><td class="table_impressora_celulas">.<td></tr>
								<tr><td class="table_impressora_celulas">.<td></tr>
								<tr><td class="table_impressora_celulas">.<td></tr>
								<tr><td class="table_impressora_celulas">.<td></tr>
							</table>
						</fieldset>

						<fieldset class="fieldset_clientes"><legend class="legenda_form_produto">Clientes</legend>
			    			<table class="table_clientes">
								<tr><td class="table_clientes_celulas">.<td></tr>
								<tr><td class="table_clientes_celulas">.<td></tr>
								<tr><td class="table_clientes_celulas">.<td></tr>
								<tr><td class="table_clientes_celulas">.<td></tr>
							</table>
						</fieldset>

						<div class="gropo_botoes">
					        <button type="button" class="botao fundo_vermelho">Excluir</button>
					        <button type="button" class="botao fundo_vermelho">Alterar</button>
					        <button type="button" class="botao fundo_azul">Caregar</button>
					        <button type="button" class="botao fundo_azul">Adicionar</button>
					    </div>

					</form>
				</div>
			</div>

		</main>
	</body>
</html>