
/*-------------------------------------------------------
  ------- CONFIGURAÇÕES SVG - LATERAL ESQUERDA ---------
  -------------------------------------------------------*/

.svg_background{
	width: 100%;
	height: 430px;
 }

.container_svg_background{
	position: absolute;
	width: 780px;
	height: 430px;
	top: 70px;
	left: 0%;
 }

.faixa_vertical{
	position: absolute;
	left:8.4%;
 }

.faixa_horizontal{
	position: absolute;
	top:27px;
 }

.bandeira{
	position: absolute;
	top:30px;
	left:6.3%;
 }

.bandeira_triangulo{
	position: absolute;
	top:24.1px;
	left:5.2%;
 }

.bandeira_imagem{
	position: absolute;
	top:50px;
	left:8.5%;
	opacity: 90%;
 }


/*-------------------------------------------------------
  ------------ CONFIGURAÇÕES GERAIS - FORMULÁRIO --------
  -------------------------------------------------------*/

.container_form_clientes{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
 }

.div_form_clientes{
	position: absolute;
	background:rgba(255,255,255,0.3);
	top: 160px;
	left: 12%;
	width: 76%;
	height: 400px;
	border-radius: 50px 0px 50px 0px;
	box-shadow: 3px 3px 2px rgba(0,0,0,0.07);
 }

/*-------------------------------------------------------
  -------------- CONFIGURAÇÕES DIV DE BUSCA -------------
  -------------------------------------------------------*/

.form_clientes_buscar{
	position: absolute;
	background:linear-gradient(to bottom,#087bd4,#2b5f85);
	width: 250px;
	height: 400px;
	border-radius: 50px 0px 0px 0px;
 }

.input_busca{
	width: 160px;
	height: 27px;
	margin:50px auto 20px 30px;
	background: white;
	font-size:11px;
  	padding:10px 10px 4px 5px;
  	border:none;
 }

.svg_busca{
	position: absolute;
	background:#2b5e85;
	margin: 50px 0px 0px 0px;
	padding: 6px 8px 6px 7px;
	border-radius: 0px 5px 5px 0px;
	box-sizing: border-box;
	cursor: pointer;
	transition: all .8s ease;
 }

.svg_busca:hover{
	background: #45ad5d;
 }

/*-------------------------------------------------------
  --------- CONFIGURAÇÕES DIV DE BUSCA - TABELA ---------
  -------------------------------------------------------*/

.table_busca{
	position: absolute;
	left: 30px;
	margin-top: 30px;
 } 

.table_busca_titulo{
	color:#4d4d4e;
	font-size:10pt;
	font-family:'Kaushan Script', cursive;
	background:#f3f3f3;
	width: 190px;
	text-align: center;
 }

.table_busca_celulas{
	color:#a7a7a7;
	background: #fdfdfd;
	width: 190px;
	text-align: center;
 }

.table_busca_celulas:hover{
	background: #dfdfe0;
	color:#fdfdfd;
	cursor: pointer;
 }

/*-------------------------------------------------------
  --------------- CONFIGURAÇÕES SVG - FORM --------------
  -------------------------------------------------------*/

.svg_empresa{
	position: absolute;
	top: -35px;
	left: 86%;
	width: 100px;
	opacity: 23%;
 }

/*-------------------------------------------------------
  ---------------- CONFIGURAÇÕES FIELDSET ---------------
  -------------------------------------------------------*/

.grupo_input_label{
	display: inline-flex;
  	position:relative; 
  	margin-bottom:17px;
 }

.legenda_form_cliente{
	color:#b9babd;
	font-size:15pt;
	font-family:'Kaushan Script', cursive; 
	margin:0px 0px 5px 20px;
	padding: 10px 10px 5px 5px;
 }

.label_form_cliente{
	color:#b9babd; 
  	font-size:10px;
  	position:absolute;
 	left:8px;
  	top:-7px;
 }

.input_form_cliente{
	font-size:11px;
  	padding:10px 10px 3px 5px;
  	margin:0px 6px 0px 6px;
  	border:none;
  	background: none;
  	border-bottom:1px solid rgba(117,117,117,0.1);
 }

.input_form_cliente:focus,.input_form_cliente:valid , .input_form_cliente:hover{ 
  outline:none; 
  border-bottom:1px solid rgba(3,127,222,0.3);
 }

.input_form_cliente:focus ~ label, .input_form_cliente:valid ~ label, .input_form_cliente:hover ~ label{
  color:rgba(3,127,222,0.6);
 }


/*-------------------------------------------------------
  ----------- CONFIGURAÇÕES FIELDSET - EMPRESA ----------
  -------------------------------------------------------*/

.fieldset_empresa{
	position: absolute;
	top: 3px;
	width: 71%;
	border:1px solid rgba(185,186,189,0.2);
	background: rgba(185,186,189,0.05);
	border-radius: 0px 10px 10px 0px;
	margin:0px 20px 0px 27%;
 }

#cliente{width: 330px;}

#cnpj{width:140px;}

#logradouro{width:330px;}

#numero{width:140px;}

#complemento{width:170px;}

#bairro{width:330px;}

#cep{width:68px;}

#cidade{width:186px;}

#telefone{width:95px;}

#uf,#pagamento,#observacao {
	margin: 0px 6px 0px 6px;
	font-size: 10px;
	background: none; 

 }

#label_uf,#label_pagamento{
  	top:-17px;
  	color:rgba(3,127,222,0.6);	
  	font-size:10px;
  	position:absolute;
 	left:8px;
 }

#label_observacao{
  	top:-17px;
  	color:#b9babd;		
  	font-size:10px;
  	position:absolute;
 	left:8px;
 }

#observacao:focus ~ #label_observacao,#observacao:hover ~ #label_observacao{
  color:rgba(3,127,222,0.6);
 }


/*-------------------------------------------------------
  ---------- CONFIGURAÇÕES FIELDSET - CONTATO -----------
  -------------------------------------------------------*/

.fieldset_contato{
	position: absolute;
	top: 240px;
	width: 71%;
	border:1px solid rgba(185,186,189,0.2);
	background: rgba(185,186,189,0.05);
	border-radius: 0px 10px 10px 0px;
	margin:0px 20px 0px 27%;
 }

#nome{
	width: 330px;
	margin-left: 15px;
 }

.label_nome{
	margin-left: 10px;
 }

#tel{width:95px;}

#email{width:200px;}

/*-------------------------------------------------------
  --------------- CONFIGURAÇÕES SVG - FORM --------------
  -------------------------------------------------------*/

.seta{
	position: absolute;
	fill:#2a6089;
	cursor: pointer;
	transition: all .4s ease;
	width: 25px;
	height: 25px;
	top: 285px;
 }

.seta:hover{
	fill:#45ad5d;
 }
 
.esquerda{
	left: 26%;
 }

.direita{
	left: 96.7%;
 }

/*-------------------------------------------------------
  ----------------- CONFIGURAÇÕES BOTÕES ----------------
  -------------------------------------------------------*/

.gropo_botoes{
	text-align: right;
	padding-right: 30px;
 }

.botao{
	border: none;
	color: #ffffff;
	padding: 7px 12px 7px 12px;
	margin: 350px 5px 10px 2px;
	font-size: 13px;
	border-radius: 6px 0px 6px 0px;
	box-sizing: border-box;
	cursor: pointer;
	transition: all .8s ease;
 }

.fundo_vermelho{background: #c94653;}

.fundo_azul{background: #2b5e85;}

.fundo_vermelho:hover, .fundo_azul:hover{background: #45ad5d;}



/*-------------------------------------------------------
  ----------- CONFIGURAÇÕES DE RESPONSIVIDADE -----------
  -------------------------------------------------------*/


@media(max-width: 1274px){

}