/*---------------------------------------
  ------- CONFIGURAÇÕES GERAIS  ---------
  ---------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:700');


html{height: 100%;}

body{
	font-family:'Roboto', sans-serif;
	font-size: 0.7rem;
	background:#f1f2f2;
 }
 
input{
	text-transform: uppercase;
}

/*---------------------------------------
  -- CONFIGURAÇÕES ADICIONAR/PESQUISAR --
  ---------------------------------------*/

.elemento {
	background-color: #007bff;
    float: right;
    border-radius: 60% 0% 0% 60%;
}

.elemento:hover {
	background: #45ad5d;
	cursor:pointer;
}

