

/*----------------------------------------------
  ------- CONFIGURAÇÕES SVG- ANIMAÇÃO  ---------
  ----------------------------------------------*/

#animacao{
	width: 100%;
	height: 310px;
 }

.conteiner-svg{
 	position: absolute;
 	width: 605px;
 	height: 220px;
 	top:73px;
	left:50%;
	transform: translateX(-50%);
 }

.parte-hf{
    position: absolute;
	top:77%;
	left:43%;
	transform: translateX(-50%);
 }
#parte-hf{
	opacity: 100;
	stroke-dashoffset: 1000;
	stroke-dasharray: 1000;
	animation: parte-hf 7s ease-in-out forwards infinite;
 }
@keyframes parte-hf{
	0%{
		fill: none; 
		stroke-dashoffset: 1000;
	 }
	30%{
		fill: rgba(0,0,0,0);
	 }
	80%{
		stroke-dashoffset: 0;
		fill: rgba(0,0,0,1);
	 }
	100%{
		stroke-dashoffset: 0;
		fill: rgba(0,0,0,1);
	 }
 }

.parte-ciano{
    position: absolute;
	top:32%;
	left:67%;
	transform: translateX(-50%);
 }
#parte-ciano{
	opacity: 100;
	stroke-dashoffset: 1000;
	stroke-dasharray: 1000;
	animation: parte-ciano 7s ease-in-out forwards infinite;
 }
@keyframes parte-ciano{
	0%{
		fill: none; 
		stroke-dashoffset: 1000;
	 }
	30%{
		fill: rgba(8,159,216,0);
	 }
	80%{
		stroke-dashoffset: 0;
		fill: rgba(8,159,216,1);
	 }
	100%{
		stroke-dashoffset: 0;
		fill: rgba(8,159,216,1);
	 }
 }

.parte-amarela{
    position: absolute;
	top:100%;
	left:41.5%;
	transform: translateX(-50%);
 }
#parte-amarela{
	opacity: 100;
	stroke-dashoffset: 1000;
	stroke-dasharray: 1000;
	animation: parte-amarela 7s ease-in-out forwards infinite;
 }
@keyframes parte-amarela{
	0%{
		fill: none; 
		stroke-dashoffset: 1000;
	 }
	30%{
		fill: rgba(210,221,39,0);
	 }
	80%{
		stroke-dashoffset: 0;
		fill: rgba(210,221,39,1);
	 }
	100%{
		stroke-dashoffset: 0;
		fill: rgba(210,221,39,1);
	 }
 }

.parte-magenta{
	position:absolute;
	top:57%;
	left:57%;
	transform: translateX(-50%);
 }
#parte-magenta{
	opacity: 100;
	stroke-dashoffset: 1000;
	stroke-dasharray: 1000;
	animation: parte-magenta 7s ease-in-out forwards infinite;
 }
@keyframes parte-magenta{
	0%{
		fill: none; 
		stroke-dashoffset: 1000;
	 }
	30%{
		fill: rgba(230,14,139,0);
	 }
	80%{
		stroke-dashoffset: 0;
		fill: rgba(230,14,139,1);
	 }
	100%{
		stroke-dashoffset: 0;
		fill: rgba(230,14,139,1);
	 }
 }

.parte-hf_solucoes_para_impressao{
	position: absolute;
	top:180%;
	left:57%;
	transform: translateX(-50%);
 }
#parte-hf_solucoes_para_impressao{
	opacity: 100;
	stroke-dashoffset: 1000;
	stroke-dasharray: 1000;
	animation: parte-hf_solucoes_para_impressao 7s ease-in-out forwards infinite;
 }
@keyframes parte-hf_solucoes_para_impressao{
	0%{
		fill: rgba(0,0,0,0); 
		stroke-dashoffset: 1000;
	 }
	30%{
		fill: rgba(0,0,0,0);
		stroke-dashoffset: 1000;
	 }
	80%{
		stroke-dashoffset: 1000;
		fill: rgba(0,0,0,1);
	 }
	100%{
		stroke-dashoffset: 1000;
		fill: rgba(0,0,0,1);
	 }
 }
