

/*---------------------------------------
  ------- CONFIGURAÇÕES TABELA ----------
  ---------------------------------------*/
  
 .fieldset_conf {
    background: rgba(255,255,255,0);
    border-radius: 0px 10px 10px 0px;
    padding: 10px 10px 0px 10px;
    margin: 0px 20px 20px 120px;
} 
  
.table {
    margin-top: 10px;
}

.table td, .table th {
    padding: .3rem;
}

.table-secondary, .table-secondary>td, .table-secondary>th {
    background-color: #007bff;
    color: white;
}

a:hover {
    text-decoration: none;
}

.lapis:hover{
	background-color:black;
}