
/*---------------------------------------
  ------- CONFIGURAÇÕES GERAIS  ---------
  ---------------------------------------*/


@import url('https://fonts.googleapis.com/css?family=Roboto:700');

html{height: 100vh;}

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
 }

body{
	font-family:'Roboto', sans-serif;
	background: linear-gradient(to bottom,#e1e3e3,#ffffff);
 }

/*---------------------------------------
  ------- CONFIGURAÇÕES NAVBAR  ---------
  ---------------------------------------*/

nav{
	position: fixed;
	z-index: 2;
	top:0;
	background:#363637;
	height:70px;
	width: 100%;  
 }

nav ul{
	float:right;
	margin-right: 10px;
 }

nav ul li{
	display: inline-block;
	margin-top:40px;
 }

nav ul li a{
	position: relative;
	display: block;
	color: white;
	font-size: 11px;
	text-transform: uppercase;
	transition: .5s;
	padding: 4px 4px;
 }

nav ul li a.active{
	background: rgba(255,255,255,0.2);	
 }

nav ul li a:hover{
	background: rgba(255,255,255,0.1);
 }

nav ul li a:before{
	content:'';
	position: absolute;
	bottom:7px;
	left:5px;
	width: 5px;
	height: 5px;
	border: 1px solid #ffffff;
	border-width: 0 0 1px 1px;
	transition: 0.5s;
	opacity: 0;
 }

nav ul li a:hover:before{
	bottom:-4px;
	left:-4px;
	opacity: 1;
	}

nav ul li a:after{
	content:'';
	position: absolute;
	top:6px;
	right:4px;
	width: 5px;
	height: 5px;
	border: 1px solid #ffffff;
	border-width: 1px 1px 0 0;
	transition: 0.5s;
	opacity: 0;
 }

nav ul li a:hover:after{
	top:-4px;
	right:-4px;
	opacity: 1;
 }

.logo{
 	position: absolute;
 	top:2px;
 	left: 60px;
 }

#relogio-digital{
	color:white;
	font-size: 10px; 
	position: absolute;
	top:57px;
	left:78px;
 }

.busca{
	position: absolute;
	top:35px;
	left: 138px;
 	background: url(../_imagens/busca.png) no-repeat center right;
 	padding: 5px;
 	border:none;
 	width: 20px;
 	transition: all 0.5s linear;
 	cursor:pointer;
 	color:white;
 }

.busca:focus{
	width: 200px;
	border-bottom: solid 1px #ddd;
	outline: none;
 }

#busca::-webkit-search-cancel-button {
	position: relative;
	right: 20px;
 }

.logout{
	float:right;
	margin-right:20px;
	margin-top: 33px;
	cursor: pointer;
 }


/*----------------------------------------------
  ------- CONFIGURAÇÕES NAVBAR-RESPONSIVA ------
  ----------------------------------------------*/

.checkbtn{
	font-size: 30px;
	color:white;
	float:right;
	line-height: 80px;
	margin-right: 50px;
	margin-top: 5px;
	cursor: pointer;
	display: none;
 }

#check{
	display: none;
 }

@media(max-width: 700px){
	
	.logout{
		margin-right:-65px;
	 }

	.checkbtn{
		display: block;
	 }

	ul.navegacao{
		position: fixed;
		width: 100%;
		height: 100vh;
		background:#4b4b4c;
		top:70px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	 }

	nav ul li{
		display: block;
		margin: 25px 0;
		line-height: 18px;
	 }

	nav ul li a{
		font-size: 20px;
	 }

	a:hover,a.active{	
		color:#0082e6;
	 }

	nav ul li a.active{
		background: rgba(255,255,255,0);	
     }

	nav ul li a:hover:before{
		opacity: 0;
	 }

	nav ul li a:hover:after{
		opacity: 0;
	 }

	nav ul li a:hover{
		background: none;
	 }

	#check:checked ~ ul{
		left:0;
	 }
 }


/*----------------------------------------
  ------- CONFIGURAÇÕES RODAPÉ -----------
  ----------------------------------------*/

footer{
	height:50px;
	width: 100%;
	margin:auto;
 }

#p-rodape{
	margin-top: 20%;
 }

.p-rodape{
	display: block;
	margin-bottom: 3px;
	text-align: center;
	font-size: 11px;
	color:#949596;
 }








.teste{
	height: 497px;
	margin-top: 70px;
 }